*.npy
Data/*
__pycache__/*
.ipynb_checkpoints/*
clustering_dataset.hdf5
create_hdf5_dataset.py
*.pyc
.pyc
points_old.csv
points_young.csv
*.pdf
*.eps
correlation matrix.csv
filtered_db.csv
tags
temp.tif